.background {
    width: 100%;
    height: 100%;
    float: left;
    inset: 0;
    padding: none;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

.fade-in {
    animation: fadeIn 500ms ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}